.bannerImg {
  padding: 4rem .5rem 0 .5rem;
}

.filterMd {
  display: none;
}

.filterBtn {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem 1rem 1rem;
  margin: .3rem .5rem;
  border: 1px solid #e5e5e5;
}

.filterBtn > span {
  font-size: .95rem;
  font-weight: 600;
}

.plusSign {
  color: #343a40;
  font-size: .9rem;
  padding-right: 1rem;
}

.subMenu {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, .125);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  margin: 0 auto;
}

.title {
  color: #000;
  font-size: .9rem;
  text-transform: capitalize;
  padding: 1rem 0;
}

.filterMinus {
  display: none;
}

.filterPlus {
  color:  #343a40;
  padding-right: 1rem;
  
}

.subMenuItemUno,
.subMenuItemDos,
.subMenuItemTres {
  padding: .5rem 0;
}

.subMenuLabel {
  display: flex;
  align-items: center;
}

.subMenuText {
  font-size: .75rem;
  text-transform: uppercase;
  padding-left: 1rem;
}

input {
  display: none;
}

.subMenuText:before {
  content: "";
  border: 1px solid rgba(0, 0, 0, .125);
  width: .75rem;
  height: .75rem;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.subMenuText::after {
  background: #000;
  width: .75rem;
  height: .75rem;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: 300ms;
}

@media (min-width: 750px) {
  .filterBtn {
    opacity: 0;
  }

  .filterMd {
    display: block;
  }
}