.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: .2rem .5rem;
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}