.card {
  padding-bottom: 1rem;
}

.title {
  color: #000;
  font-size: .89rem;
  font-weight: 400;
  padding-top: .5rem;
}

.cardImg {
  position: relative;
  z-index: 1;
  min-height: 13rem;
}

.cardImg:hover .cardBtn {
  visibility: visible;
}

.cardBtn {
  color: #000;
  font-size: .9375rem;
  font-weight: 700;
  background: #fff;
  border: 1px solid #000;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: .75rem 1.75rem;
  visibility: hidden;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.cardBtn>span {
  color: #000;
}

.cardBtn:hover {
  background: #000;
  transform: scale(.95);
}

.cardBtn:hover>span {
  color: #fff;
}