.buyItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.counterTitle {
  color: rgba(0, 0, 0, .9);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  top: -2rem
}

.quantity {
  position: relative;
}

.counter {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.addCuant {
  display: flex;
  align-items: center;
  gap: 6.3rem;
  background-color: #000;
  padding: .762rem 1rem;
  position: relative;
  cursor: pointer;
  transition: all .2s  ease;
}

.addCuant:hover {
  background-color: rgb(122, 105, 3);
}

.plusSign,
.minusSign {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.number {
  color: #fff;
  font-weight: 700;
  position: absolute;
  left: 43%;
}

.addToCart {
  padding: .7rem .5rem;
  border: 1px solid rgba(0, 0, 0, .125);
  cursor: pointer;
}

.text {
  color: rgba(0, 0, 0, .9);
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  padding: .7rem .5rem;
  border: 1px solid rgba(0, 0, 0, .125);
  cursor: pointer;
  transition: all .3s ease;
}

.text:hover {
  color: #fff;
  border: 1px solid rgb(122, 105, 3);
  background-color: rgb(122, 105, 3);
}
